{% extends "base.html" %}

{% block titulo %}Autores{% endblock %}

{% block contenido %}
    <div id="app">
        <main>
            <aside>
                {% verbatim  %}
                <div v-for="author in authors" :key="author.id">
                    <h2>{{ author.nombre }}</h2>
                    <article>
                        <img :src="author.foto" :alt="author.alt" id="autorimg" height="300" width="200">
                    </article>
                    <fieldset>
                        <legend><strong><u>{{ author.nombre }}</u></strong></legend>
                        <table>
                            <tr>
                                <td><strong>Nacimiento:</strong></td>
                                <td>{{ author.fechanac }}</td>
                            </tr>
                            <tr>
                                <td><strong>Libro(s) escrito:</strong></td>
                                <td><span v-for="(book, index) in author.libros" :key="index">
                                    {{ book.titulo }}
                                    <span v-if="index !== author.libros.length - 1">, </span>
                                </span></td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>{{ author.desc }}</p>
                    </fieldset>
                </div>
                 {% endverbatim %}
            </aside>
        </main>
    </div>

    {%load static%}
    <script src="/static/js/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                authors: [
                    {
                        id: 1,
                        nombre: 'Beatriz Osés',
                        foto: '/static/img/autores/beatrizoses.jpg',
                        alt: 'beatriz',
                        fechanac: '24 de noviembre de 1972',
                        libros: [
                            { titulo: 'Erik Vogler: Los crímenes del Rey Blanco' }
                        ],
                        desc: 'Beatriz Osés García es una escritora española de literatura infantil y juvenil y profesora de educación secundaria de Lengua castellana y literatura.'
                    },
                    {
                        id: 5,
                        nombre: 'Chris Miller',
                        foto: '/static/img/autores/chrismiller.jpg',
                        alt: 'chris',
                        fechanac: '-',
                        libros: [
                            { titulo: 'La guerra de los chips' }
                        ],
                        desc: 'Chris Miller es profesor de Historia Internacional en la Fletcher School de la Universidad de Tufts. Ejerce también de adjunto en el American Enterprise Institute y es director de investigación sobre Eurasia del Foreign Policy Research Institute.'
                    },
                    {
                        id: 8,
                        nombre: 'George Orwell',
                        foto: '/static/img/autores/georgeorwell.jpg',
                        alt: 'george',
                        fechanac: '25 de junio de 1903',
                        libros: [
                            { titulo: 'Rebelión en la granja' },
                            { titulo: '1984' }
                        ],
                        desc: 'Eric Arthur Blair, conocido por su seudónimo de George Orwell, fue un novelista, periodista, ensayista y crítico británico nacido en la India, autor entre otras obras de las novelas distópicas Rebelión en la granja y 1984.'
                    },

                    {
                        id: 1,
                        nombre: 'J. R. R. Tolkien',
                        foto: '/static/img/autores/jrrtolkien.jpg',
                        alt: 'tolkien',
                        fechanac: '3 de enero de 1892',
                        libros: [
                            { titulo: 'El hobbit' }
                        ],
                        desc: 'John Ronald Reuel Tolkien, a menudo citado como J. R. R. Tolkien o JRRT, fue un escritor, poeta, filólogo, lingüista y profesor universitario británico, nacido en el Estado Libre de Orange. Conocido principalmente por ser el autor de El hobbit y El Señor de los Anillos.'
                    }, 

                    {
                        id: 10,
                        nombre: 'Mariana Enriquez',
                        foto: '/static/img/autores/marianaenriquez.jpg',
                        alt: 'mariana',
                        fechanac: '1973',
                        libros: [
                        { titulo: 'Los peligros de fumar en la cama' }
                        ],
                        desc: 'Mariana Enríquez es una escritora, periodista y docente argentina, parte del grupo de escritores conocidos como «nueva narrativa argentina».'
                    },

                    {
                        id: 4,
                        nombre: 'Neil Gaiman',
                        foto: '/static/img/autores/nielgaiman.jpg',
                        alt: 'neil',
                        fechanac: '10 de noviembre de 1960',
                        libros: [
                            { titulo: 'Buenos presagios' }
                        ],
                        desc: 'Neil Richard Gaiman es un autor de ficción, novelas, cómics, novelas gráficas, no ficción, teatro de audio, películas e historietas y escritor británico. Cultiva el género fantástico. Sus obras incluyen la serie de cómics The Sandman y las novelas Stardust, Coraline y El libro del cementerio.'
                    },

                    {
                        id: 9,
                        nombre: 'Oscar Wilde',
                        foto: '/static/img/autores/oscarwilde.jpg',
                        alt: 'oscar',
                        fechanac: '16 de octubre de 1854',
                        libros: [
                            { titulo: 'El retrato de Dorian Gray' }
                        ],
                        desc: 'Oscar Fingal OFlahertie Wills Wilde, conocido como Oscar Wilde, fue un escritor, poeta y dramaturgo de origen irlandés. Wilde es considerado uno de los dramaturgos más destacados del Londres victoriano tardío. Además, fue una celebridad de la época debido a su gran y aguzado ingenio.'
                    },

                    {
                        id: 2,
                        nombre: 'Sue Lynn Tan',
                        foto: '/static/img/autores/suelynntan.jpg',
                        alt: 'sue lynn',
                        fechanac: '-',
                        libros: [
                            { titulo: 'La hija de la diosa de la Luna' }
                        ],
                        desc: 'La escritora Sue Lynn Tan nació en Malasia y estudió en Londres y Francia antes de asentarse en Hong Kong junto a su familia. Tan escribe novelas de fantasía inspiradas por los mitos y leyendas que aprendió a amar desde que era muy pequeña.'
                    },

                    {
                        id: 7,
                        nombre: 'Taylor Jenkins Reid',
                        foto: '/static/img/autores/taylorjenkins.jpg',
                        alt: 'taylor',
                        fechanac: '20 de diciembre de 1983',
                        libros: [
                            { titulo: 'Los siete maridos de Evelyn Hugo' }
                        ],
                        desc: 'Taylor Jenkins Reid es una escritora, productora de televisión y guionista estadounidense. Escribe principalmente romance y sus obras más destacadas son Los siete maridos de Evelyn Hugo y Todos quieren a Daisy Jones.'
                    },

                    {
                       id: 3,
                        nombre: 'Terry Pratchett',
                        foto: '/static/img/autores/terrypratchett.jpg',
                        alt: 'terry',
                        fechanac: '28 de abril de 1948',
                        libros: [
                            { titulo: 'Buenos presagios' },
                            { titulo: 'El color de la Magia' }
                        ],
                        desc: 'Terence David John "Terry" Pratchett fue un escritor británico de fantasía y ciencia ficción. Sus obras más conocidas corresponden a la serie del Mundodisco. Además, escribió novelas juveniles, relatos cortos y colaboró en la redacción de guiones para las adaptaciones televisivas de sus novelas.' 
                    }
                ]
            },
            mounted() {
                console.log(this.authors);
            }
        });
    </script>
{% endblock %}