{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/css/spring.css" type="text/css" media="screen" />
<html>
    <head>
        <title>Bookstore</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- JS -->
<script type="text/javascript" src="/static/js/jquery_1.3.2.js"></script>
<script type="text/javascript" src="/static/js/jqueryui.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript" src="/static/js/jquery.cycle.all.js"></script>
<script type="text/javascript" src="/static/js/custom.js"></script>
<!-- ENDS JS -->
<!-- superfish -->
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/superfish-custom.css" />
<script type="text/javascript" src="/static/js/superfish-1.4.8/js/hoverIntent.js"></script>
<script type="text/javascript" src="/static/js/superfish-1.4.8/js/superfish.js"></script>
<!-- ENDS superfish -->
<!-- CSS -->
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/css/spring.css" type="text/css" media="screen" />
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/ie-hacks.css" />
<script type="text/javascript" src="js/DD_belatedPNG.js"></script>
<script>/* EXAMPLE */ DD_belatedPNG.fix('*');</script>
<![endif]-->
<!-- ENDS CSS -->
<!-- Cufon -->
<script src="/static/js/cufon-yui.js" type="text/javascript"></script>
<script src="/static/js/bebas_400.font.js" type="text/javascript"></script>
<script type="text/javascript">Cufon.replace('.custom', { fontFamily: 'bebas', hover: true });</script>
<!-- /Cufon -->
    </head>
    <body>
        <header>
            <ul id="nav" class="sf-menu">
                <li class="custom"><a href="{% url 'contact' %}">CONTACTO</a></li>
                <li class="custom"><a href="{% url 'gallery' %}">GALERIA</a></li>
                <li class="custom">ABOUT
                    <ul>
                      <li><a href="{% url 'libros' %}">Libros</a></li>
                      <li><a href="{% url 'autor' %}">Autores</a></li>
                      <li><a href="{% url 'genero' %}">Genero</a></li>
                    </ul>
                  </li>
              </ul>
              <div id="header"> <a href="{% url 'index' %}"><img src="/static/img/logo.png" alt="" id="logo" /></a> <img src="/static/img/nav-arrow.png" alt="" id="arrow" class="arrow-home" /></div>
        <main>
            <aside>
                <form>
                    <h2 id="1">#1</h2>
                    <article>
                        <img src="imagenes/sonidoFirmamento.gif" alt="sonFir" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>Beatriz Osés</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Fecha de nacimiento:</strong></td>
                                <td>24 de noviembre de 1972</td>
                            </tr>
                            <tr>
                                <td><strong>Libro:</strong></td>
                                <td>Erik Vogler y los crímenes del Rey Blanco</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>Beatriz Osés García es una escritora española de literatura infantil y juvenil y profesora de educación secundaria de Lengua castellana y literatura.</p>
                    </fieldset>
                    <br>
                    <h2 id="2">#2</h2>
                    <article>
                        <img src="imagenes/lupusIntegral.gif" alt="lupInt" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>Chris Miller</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Fecha de nacimiento:</strong></td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td><strong>Libro:</strong></td>
                                <td>La guerra de los chips</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>Chris Miller es profesor de Historia Internacional en la Fletcher School de la Universidad de Tufts. Ejerce también de adjunto en el American Enterprise Institute y es director de investigación sobre Eurasia del Foreign Policy Research Institute.</p>
                    </fieldset>
                    <br>
                    <h2 id="3">#3</h2>
                    <article>
                        <img src="imagenes/shengal.gif" alt="shengal" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>NGeorge Orwell</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Fecha de nacimiento:</strong></td>
                                <td>25 de junio de 1903</td>
                            </tr>
                            <tr>
                                <td><strong>Libros:</strong></td>
                                <td>Rebelión en la granja, 1984</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>Eric Arthur Blair, conocido por su seudónimo de George Orwell, fue un novelista, periodista, ensayista y crítico británico nacido en la India, autor entre otras obras de las novelas distópicas Rebelión en la granja y 1984.</p>
                        </fieldset>
                    <br>
                    <h2 id="4">#4</h2>
                    <article>
                        <img src="imagenes/canicula.gif" alt="canicula" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>J.R.R. Tolkien</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Fecha de nacimiento:</strong></td>
                                <td>3 de enero de 1892</td>
                            </tr>
                            <tr>
                                <td><strong>Libro:</strong></td>
                                <td>El hobbit</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>John Ronald Reuel Tolkien, a menudo citado como J. R. R. Tolkien o JRRT, fue un escritor, poeta, filólogo, lingüista y profesor universitario británico, nacido en el Estado Libre de Orange. Conocido principalmente por ser el autor de El hobbit y El Señor de los Anillos.</p>
                    </fieldset>
                    <br>
                    <h2 id="5">#5</h2>
                    <article>
                        <img src="imagenes/nimona.gif" alt="nimona" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>Mariana Enríquez</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Fecha de nacimiento:</strong></td>
                                <td>1973</td>
                            </tr>
                            <tr>
                                <td><strong>Libro:</strong></td>
                                <td>Los peligros de fumar en la cama</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>Mariana Enríquez es una escritora, periodista y docente argentina, parte del grupo de escritores conocidos como «nueva narrativa argentina».</p>
                    </fieldset>
                    <br>
                    <h2 id="6">#6</h2>
                    <article>
                        <img src="imagenes/babita.gif" alt="babita" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>Neil Gaiman</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Fecha de nacimiento:</strong></td>
                                <td>10 de noviembre de 1960</td>
                            </tr>
                            <tr>
                                <td><strong>Libro:</strong></td>
                                <td>Buenos presagios</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>Neil Richard Gaiman es un autor de ficción, novelas, cómics, novelas gráficas, no ficción, teatro de audio, películas e historietas y escritor británico. Cultiva el género fantástico. Sus obras incluyen la serie de cómics The Sandman y las novelas Stardust, Coraline y El libro del cementerio.</p>
                    </fieldset>
                    <br>
                    <h2 id="7">#7</h2>
                    <article>
                        <img src="imagenes/powerbomb.gif" alt="powerbomb" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>Oscar Wilde</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Fecha de nacimiento:</strong></td>
                                <td>16 de octubre de 1854</td>
                            </tr>
                            <tr>
                                <td><strong>Libro:</strong></td>
                                <td>El retrato de Dorian Gray</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>Oscar Fingal O'Flahertie Wills Wilde, conocido como Oscar Wilde, fue un escritor, poeta y dramaturgo de origen irlandés. Wilde es considerado uno de los dramaturgos más destacados del Londres victoriano tardío. Además, fue una celebridad de la época debido a su gran y aguzado ingenio.</p>
                    </fieldset>
                    <br>
                    <h2 id="7">#7</h2>
                    <article>
                        <img src="imagenes/powerbomb.gif" alt="powerbomb" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>Sue Lynn Tan</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Fecha de nacimiento:</strong></td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td><strong>Libro:</strong></td>
                                <td>La hija de la diosa de la luna</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>La escritora Sue Lynn Tan nació en Malasia y estudió en Londres y Francia antes de asentarse en Hong Kong junto a su familia. Tan escribe novelas de fantasía inspiradas por los mitos y leyendas que aprendió a amar desde que era muy pequeña</p>
                    </fieldset>
                    <br>
                    <h2 id="7">#7</h2>
                    <article>
                        <img src="imagenes/powerbomb.gif" alt="powerbomb" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>Taylor Jenkins</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Fecha de nacimiento:</strong></td>
                                <td>20 de diciembre de 1983</td>
                            </tr>
                            <tr>
                                <td><strong>Libro:</strong></td>
                                <td>Los siete maridos de Evelyn Hugo</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>Taylor Jenkins Reid es una escritora, productora de televisión y guionista estadounidense. Escribe principalmente romance y sus obras más destacadas son Los siete maridos de Evelyn Hugo y Todos quieren a Daisy Jones.</p>
                    </fieldset>
                    <br>
                    <h2 id="7">#7</h2>
                    <article>
                        <img src="imagenes/powerbomb.gif" alt="powerbomb" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>Oscar Wilde</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Fecha de nacimiento:</strong></td>
                                <td>28 de abril de 1948</td>
                            </tr>
                            <tr>
                                <td><strong>Libro:</strong></td>
                                <td>Buenos presagios, El color de la Magia</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>Terence David John "Terry" Pratchett fue un escritor británico de fantasía y ciencia ficción. Sus obras más conocidas corresponden a la serie del Mundodisco. Además, escribió novelas juveniles, relatos cortos y colaboró en la redacción de guiones para las adaptaciones televisivas de sus novelas.</p>
                    </fieldset>
                </form>
            </aside>
        </main>
<!-- FOOTER -->
        <div id="footer">
    <div id="footer-wrapper">
      <ul id="follow">
        <li>
          <p>Follow us: </p>
        </li>
        <li><a href="#"><img src="/static/img/twitter.png" alt="" /></a></li>
        <li><a href="#"><img src="/static/img/facebook.png" alt="" /></a></li>
        <li><a href="#"><img src="/static/img/linkedln.png" alt="" /></a></li>
        <li><a href="#"><img src="/static/img/rss.png" alt="" /></a></li>
      </ul>
      <div class="footer-bottom">
        <p class="legal">&copy; Copyright 2012 <a href="#">Company Name</a> All Rights Reserved | Website Template By <a target="_blank" href="http://www.luiszuno.com">luiszuno</a></p>
      </div>
    </div>
        </div>
  <!-- ENDS FOOTER -->
  <!-- start cufon -->
        <script type="text/javascript">Cufon.now();</script>
  <!-- ENDS start cufon -->
    </body>
</html>