{% extends "base.html"%}

{% block titulo %} Detalles de {{editorial.editorial}} {% endblock %}

{% block contenido %}

<h1>Datos de la editorial</h1>

<form>
    <h2>{{ editorial.editorial}}</h2>
    <article>
       {%load static%}
       <img alt="{{ editorial.editorial }}" src="{% static editorial.foto.url %}" width= 315 height=220/>
      </article>
    <fieldset>
       <table>
        <tr>
            <td><strong>Creación:</strong></td>
            <td> {{ editorial.creacion}} </td>
         </tr>
       </table>
       <p><strong>Libros:</strong></p>
      {% for libro in libros_de_la_editorial %}
         <li>{{ libro.titulo }}</li>
      {% endfor %}
    </fieldset>
 <form>

{% endblock %}