{% extends "base.html"%}

{% block titulo %} Autor {% endblock %}

{% block contenido %}

<h2>Datos del autor</h2>

<form>
    <h2>{{autor.nombre}}</h2>
    <article>
       {%load static%}
       <img alt="{{ autor.nombre }}" src="{% static autor.foto.url %}"/>
      </article>
    <fieldset>
       <table>
         <tr>
            <td><strong>Nacimiento:</strong></td>
            <td> {{ autor.fechanac}} </td>
         </tr>
       </table>
       <p><strong>Descripción:</strong></p>
       <p>{{autor.desc}}</p>
    </fieldset>
 <form>

{% endblock %}