{% extends "base.html"%}

{% block titulo %} Editorial {% endblock %}

{% block contenido %}

<h2>Datos de la editorial</h2>

<form>
    <h2>{{ editorial.editorial}}</h2>
    <article>
       {%load static%}
       <img alt="{{ editorial.editorial }}" src="{% static editorial.foto.url %}"/>
      </article>
    <fieldset>
       <table>
        <tr>
            <td><strong>Creación:</strong></td>
            <td> {{ editorial.creacion}} </td>
         </tr>
       </table>
    </fieldset>
 <form>

{% endblock %}