{%extends "base.html"%}

{%block titulo%}Contacto{%endblock%}

{%block contenido%}
<div id="main">
   <p class="section-title"><span class="title custom">Contacta con nosotros</span></p>
   <!-- left-content -->
   <div class="contact-left">
      <h5 class="custom">Utiliza este formulario para dejar tus comentarios</h5>
      <!-- form -->
      <form id="formMail" method="post">
         {% csrf_token %}
         {{ form.as_p }}
         <p>
            <input type="submit" value="Enviar">
         </p>
      </form>
      <p id="success">Gracias por tus comentarios.</p>
      <!-- ENDS form -->
   </div>   
   <!-- ENDS left-content -->
   <!-- right-content -->
   <div class="contact-right">
      <h4 class="custom">Ubicacion</h4>
      {%load static%}
      <div class="taped-image"><span></span><em></em><img src="{% static '/img/ubicacion.png' %}" alt=""></div>
      <p>Phone: (555) 1144.1234<br>
         Email: <a href="#">bookstore@deusto.es</a><br>
         Unibertsitate Etorb., 24, 48007 Bilbo, Bizkaia
      </p>
   </div>
   <!-- ENDS right-content -->
</div>
{%endblock%}