{%extends "base.html"%}

{%block titulo%}Contacto{%endblock%}

{%block contenido%}
<div id="main">
   <p class="section-title"><span class="title custom">Contacta con nosotros</span></p>
   <!-- left-content -->
   <div class="contact-left">
      <h5 class="custom">Utiliza este formulario para dejar tus comentarios</h5>
      <!-- form -->
      <form id="formMail" action="#" method="post">
         <fieldset>
            <p>
               <label>NOMBRE:</label>
               <input name="name"  id="name" type="text" />
            </p>
            <p>
               <label>EMAIL:</label>
               <input name="email"  id="email" type="text" />
            </p>
            <p>
               <label>COMENTARIOS:</label>
               <textarea  name="comments"  id="comments" rows="5" cols="20"></textarea>
            </p>
            <p>
               <input type="button" value="_" name="send" id="send" />
            </p>
         </fieldset>
      </form>
      <p id="success">Gracias por tus comentarios.</p>
      <!-- ENDS form -->
   </div>
   <!-- ENDS left-content -->
   <!-- right-content -->
   <div class="contact-right">
      <h4 class="custom">Ubicacion</h4>
      {%load static%}
      <div class="taped-image"><span></span><em></em><img src="/static/img/ubicacion.png" alt="" /></div>
      <p>Phone: (555) 1144.1234<br/>
         Email: <a href="#">bookstore@deusto.es</a><br/>
         Unibertsitate Etorb., 24, 48007 Bilbo, Bizkaia
      </p>
   </div>
   <!-- ENDS right-content -->
</div>
{%endblock%}