{%extends "base.html"%}

{%block titulo%}Galeria{%endblock%}

{%block contenido%}
<div id="main">
   <p class="section-title"><span class="title custom">GALERIA</span></p>
   <ul id="portfolio-filter">
      <li>FILTRO: </li>
      <li><a href="#all">TODO</a></li>
      <li><a href="#libro-gal">Libros</a></li>
      <li><a href="#autor-gal">Autores</a></li>
      <li><a href="#editorial-gal">Editoriales</a></li>
   </ul>
   <!-- filter -->
   <!-- thumbs -->
   <ul id="portfolio-list" class="gallery">
      {%load static%}
      <li class="libro-gal"> <span></span> <img src="{% static '/img/galeria/1984.jpg' %}" alt="1984"> <em><a href="{% url 'libroDetalle' '9788499890944' %}">1984</a></em> </li>
      <li class="editorial-gal"> <span></span> <img src="{% static '/img/galeria/allenandunwin.png' %}" alt="allen"> <em><a href="{% url 'editorialDetalle' 1 %}">Allen & Unwin</a></em> </li>
      <li class="editorial-gal"> <span></span> <img src="{% static '/img/galeria/anagrama.jpg' %}" alt="anagrama"> <em><a href="{% url 'editorialDetalle' 8 %}">Anagrama</a></em> </li>
      <li class="autor-gal"> <span></span> <img src="{% static '/img/galeria/beatrizoses.jpg' %}" alt="beatriz"> <em><a href="{% url 'autorDetalle' 6 %}">Beatriz Osés</a></em> </li>
      <li class="libro-gal"> <span></span> <img src="{% static '/img/galeria/buenospresagios.jpg' %}" alt="buenospresagios"> <em><a href="{% url 'libroDetalle' '9788448006983' %}">Buenos presagios</a></em> </li>
      <li class="autor-gal"> <span></span> <img src="{% static '/img/galeria/chrismiller.jpg' %}" alt="chrismiller"> <em><a href="{% url 'autorDetalle' 5 %}">Chris Miller</a></em> </li>
      <li class="libro-gal"> <span></span> <img src="{% static '/img/galeria/colormagia.jpg' %}" alt="colormagia"> <em><a href="{% url 'libroDetalle' '9788497596794' %}">El color de la Magia</a></em> </li>
      <li class="editorial-gal"> <span></span> <img src="{% static '/img/galeria/debolsillo.png' %}" alt="debolsillo"> <em><a href="{% url 'editorialDetalle' 4 %}">Debolsillo</a></em> </li>
      <li class="editorial-gal"> <span></span> <img src="{% static '/img/galeria/edebe.png' %}" alt="edebe"> <em><a href="{% url 'editorialDetalle' 6 %}">edebé</a></em> </li>
      <li class="autor-gal"> <span></span> <img src="{% static '/img/galeria/georgeorwell.jpg' %}" alt="george"> <em><a href="{% url 'autorDetalle' 8 %}">George Orwell</a></em> </li>
      <li class="libro-gal"> <span></span> <img src="{% static '/img/galeria/guerrachips.jpg' %}" alt="guerrachips"> <em><a href="{% url 'libroDetalle' '9788411001984' %}">La guerra de los chips</a></em> </li>
      <li class="libro-gal"> <span></span> <img src="{% static '/img/galeria/hijadiosaluna.jpg' %}" alt="hijadiosaluna"> <em><a href="{% url 'libroDetalle' '9788416517862' %}">La hija de la diosa de la Luna</a></em> </li>
      <li class="libro-gal"> <span></span> <img src="{% static '/img/galeria/elhobbit.jpg' %}" alt="elhobbit"> <em><a href="{% url 'libroDetalle' '9788445000656' %}">El hobbit</a></em> </li>
      <li class="autor-gal"> <span></span> <img src="{% static '/img/galeria/jrrtolkien.jpg' %}" alt="jrrtolkien"> <em><a href="{% url 'autorDetalle' 1 %}">J. R. R. Tolkien</a></em> </li>
      <li class="autor-gal"> <span></span> <img src="{% static '/img/galeria/marianaenriquez.jpg' %}" alt="mariana"> <em><a href="{% url 'autorDetalle' 10 %}">Marina Enriquez</a></em> </li>
      <li class="autor-gal"> <span></span> <img src="{% static '/img/galeria/neilgaiman.jpg' %}" alt="neil"> <em><a href="{% url 'autorDetalle' 4 %}">Neil Gaiman</a></em> </li>
      <li class="autor-gal"> <span></span> <img src="{% static '/img/galeria/oscarwilde.jpg' %}" alt="oscar"> <em><a href="{% url 'autorDetalle' 9 %}">Oscar Wilde</a></em> </li>
      <li class="libro-gal"> <span></span> <img src="{% static '/img/galeria/fumarcama.jpg' %}" alt="fumar"> <em><a href="{% url 'libroDetalle' '9788433998248' %}">Los peligros de fumar en la cama</a></em> </li>
      <li class="editorial-gal"> <span></span> <img src="{% static '/img/galeria/peninsula.jpg' %}" alt="peninsula"> <em><a href="{% url 'editorialDetalle' 5 %}">Península</a></em> </li>
      <li class="libro-gal"> <span></span> <img src="{% static '/img/galeria/rebeliongranja.jpg' %}" alt="rebeliongranja"> <em><a href="{% url 'libroDetalle' '9788499890951' %}">Rebelión en la granja</a></em> </li>
      <li class="editorial-gal"> <span></span> <img src="{% static '/img/galeria/reinodecordelia.jpg' %}" alt="reino"> <em><a href="{% url 'editorialDetalle' 7 %}">Reino de Cordelia</a></em> </li>
      <li class="libro-gal"> <span></span> <img src="{% static '/img/galeria/doriangray.jpg' %}" alt="doriangray"> <em><a href="{% url 'libroDetalle' '9788416968213' %}">El retrato de Dorian Gray</a></em> </li>
      <li class="libro-gal"> <span></span> <img src="{% static '/img/galeria/evelynhugo.jpg' %}" alt="evelynhugo"> <em><a href="{% url 'libroDetalle' '9788416517275' %}">Los siete maridos de Evelyn Hugo</a></em> </li>
      <li class="autor-gal"> <span></span> <img src="{% static '/img/galeria/suelynntan.jpg' %}" alt="suelynntan"> <em><a href="{% url 'autorDetalle' 2 %}">Sue Lynn Tan</a></em> </li>
      <li class="autor-gal"> <span></span> <img src="{% static '/img/galeria/taylorjenkins.jpg' %}" alt="taylor"> <em><a href="{% url 'autorDetalle' 7 %}">Taylor Jenkins</a></em> </li>
      <li class="autor-gal"> <span></span> <img src="{% static '/img/galeria/terrypratchett.jpg' %}" alt="terry"> <em><a href="{% url 'autorDetalle' 3 %}">Terry Pratchett</a></em> </li>
      <li class="editorial-gal"> <span></span> <img src="{% static '/img/galeria/timunmas.png' %}" alt="timunmas"> <em><a href="{% url 'editorialDetalle' 3 %}">Timun Mas</a></em> </li>
      <li class="editorial-gal"> <span></span> <img src="{% static '/img/galeria/umbriel.png' %}" alt="umbriel"> <em><a href="{% url 'editorialDetalle' 2 %}">Umbriel</a></em> </li>
   </ul>
   <!-- ENDS thumbs -->
   <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
   <script>
      $(document).ready(function() {
         $('a[href="#libro-gal"]').on('click', function(e) {
              e.preventDefault();
              $('.gallery li').hide();
              $('.libro-gal').show();
          });
  
         $('a[href="#autor-gal"]').on('click', function(e) {
            e.preventDefault();
            $('.gallery li').hide();
            $('.autor-gal').show();
        });

        $('a[href="#editorial-gal"]').on('click', function(e) {
         e.preventDefault();
         $('.gallery li').hide();
         $('.editorial-gal').show();
     });
          $('a[href="#all"]').on('click', function(e) {
              e.preventDefault();
              $('.gallery li').show();
          });
      });
  </script>
  
</div>
{%endblock%}