{% extends "base.html" %}

{% block titulo %}Libros{% endblock %}

{% block contenido %}
    <div id="app">
        <main>
            <aside>
                {% verbatim  %}
                <div v-for="book in books" :key="book.id">
                    <h2>{{ book.nombre }}</h2>
                    <article>
                        <img :src="book.foto" :alt="book.alt" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>{{ book.titulo }}</strong></legend>
                        <table>
                            <tr>
                                <td><strong>ISBN:</strong></td>
                                <td>{{ book.isbn }}</td>
                            </tr>
                            <tr>
                                <td><strong>Escritor:</strong></td>
                                <td>
                                    <span v-for="(author, index) in book.autores" :key="index">
                                        {{ author.nombre }}
                                        <span v-if="index !== book.autores.length - 1">, </span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Editorial:</strong></td>
                                <td>{{ book.editorial.nombre }}</td>
                            </tr>
                            <tr>
                                <td><strong>Edición:</strong></td>
                                <td>{{ book.edicion }}</td>
                            </tr>
                            <tr>
                                <td><strong>Páginas:</strong></td>
                                <td>{{ book.pag }}</td>
                            </tr>
                        </table>
                        <p><strong>Descripción:</strong></p>
                        <p>{{ book.desc }}</p>
                    </fieldset>
                </div>
                {% endverbatim  %}
            </aside>
        </main>
    </div>

    <script src="/static/js/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                books: [
                    {
                        id: 1,
                        isbn: '9788445000656',
                        titulo: 'El hobbit',
                        foto: '/static/img/libros/elhobbit.jpg',
                        alt: 'hobbit',
                        autores: [
                            { nombre: 'J. R. R. Tolkien'}
                        ],
                        editorial: { nombre: 'Allen & Unwin' },
                        edicion: '1982',
                        pag: '301',
                        desc: 'La trilogía de El hobbit, adaptación cinematográfica basada en la novela homónima, comprende tres películas épicas de fantasía, acción y aventuras.'
                    },
                    {
                        id: 2,
                        isbn: '9788416517862',
                        titulo: 'La hija de la diosa de la Luna',
                        foto: '/static/img/libros/hijadiosaluna.jpg',
                        alt: 'hijadiosaluna',
                        autores: [
                            { nombre: 'Sue Lynn Tan'}
                        ],
                        editorial: { nombre: 'Umbriel' },
                        edicion: '2022',
                        pag: '512',
                        desc: 'Un apasionante debut inspirado en la leyenda de Chang e, la diosa china de la luna, donde la cruzada de una joven por liberar a su madre la llevará a medir sus fuerzas con el inmortal más poderoso del reino.'
                    },
                    {
                        id: 3,
                        isbn: '9788448006983',
                        titulo: 'Buenos presagios',
                        foto: '/static/img/libros/buenospresagios.jpg',
                        alt: 'buenospresagios',
                        autores: [
                            { nombre: 'Terry Pratchett'},
                            { nombre: 'Neil Gaiman'}
                        ],
                        editorial: { nombre: 'Timun Mas' },
                        edicion: '2012',
                        pag: '400',
                        desc: 'Buenos Presagios es una novela escrita por Terry Pratchett y Neil Gaiman. Buenos Presagios es una comedia de tono irónico sobre el tema de la encarnación del anticristo, el Apocalipsis inminente y la eterna discusión sobre el equilibrio entre el bien y el mal.'
                    },
                    {
                        id: 4,
                        isbn: '9788497596794',
                        titulo: 'El color de la Magia',
                        foto: '/static/img/libros/colormagia.jpg',
                        alt: 'colormagia',
                        autores: [
                            { nombre: 'Terry Pratchett'}
                        ],
                        editorial: { nombre: 'Debolsillo' },
                        edicion: '2003',
                        pag: '288',
                        desc: 'El color de la magia, es la primera obra publicada de la saga del Mundodisco de Terry Pratchett. Esta novela, a diferencia de otras muchas de la serie, está dividida en "libros" que narran historias cortas consecutivas con los mismos protagonistas.'
                    },
                    {
                        id: 5,
                        isbn: '9788411001984',
                        titulo: 'La guerra de los chips',
                        foto: '/static/img/libros/guerrachips.jpg',
                        alt: 'guerrachips',
                        autores: [
                            { nombre: 'Chris Miller'}
                        ],
                        editorial: { nombre: 'Peninsula' },
                        edicion: '2023',
                        pag: '544',
                        desc: 'El libro del año. Define el fin de la era de la globalización y explica el mayor conflicto geopolítico desde la guerra fría.'
                    },
                    {
                        id: 6,
                        isbn: '9788468312842',
                        titulo: 'Erik Vogler: Los crímenes del Rey Blanco',
                        foto: '/static/img/libros/erikvogler.jpg',
                        alt: 'erikvogler',
                        autores: [
                            { nombre: 'Beatriz Oses'}
                        ],
                        editorial: { nombre: 'edebé' },
                        edicion: '2014',
                        pag: '144',
                        desc: 'Erik es una adolescente maniático de la limpieza, el orden, el ajedrez, un sabiondo, en fin, "un pesadito". Su papá le ha prometido unas vacaciones soñadas, pero por un error de cálculo tendrá que conformarse con ir a casa de su abuela con quien no se lleva nada bien.'
                    },
                    {
                        id: 7,
                        isbn: '9788416517275',
                        titulo: 'Los siete maridos de Evelyn Hugo',
                        foto: '/static/img/libros/evelynhugo.jpg',
                        alt: 'evelynhugo',
                        autores: [
                            { nombre: 'Taylor Jenkins Reid'}
                        ],
                        editorial: { nombre: 'Umbriel' },
                        edicion: '2020',
                        pag: '384',
                        desc: 'Evelyn Hugo, el ícono de Hollywood que se ha recluido en su edad madura, decide al fin contar la verdad sobre su vida llena de glamour y de escándalos.'
                    },
                    {
                        id: 8,
                        isbn: '9788499890951',
                        titulo: 'Rebelión en la granja',
                        foto: '/static/img/libros/rebeliongranja.jpg',
                        alt: 'rebeliongranja',
                        autores: [
                            { nombre: 'George Orwell'}
                        ],
                        editorial: { nombre: 'Debolsillo' },
                        edicion: '2013',
                        pag: '144',
                        desc: 'Rebelión en la granja es una novela corta satírica del escritor británico George Orwell. Publicada en 1945, la obra es una fábula mordaz sobre cómo el régimen soviético de Iósif Stalin corrompe el socialismo llevándolo hacia un tipo de autoritarismo.'
                    },
                    {
                        id: 9,
                        isbn: '9788499890944',
                        titulo: '1984',
                        foto: '/static/img/libros/1984.jpg',
                        alt: '1984',
                        autores: [
                            { nombre: 'George Orwell<'}
                        ],
                        editorial: { nombre: 'Debolsillo' },
                        edicion: '2013',
                        pag: '352',
                        desc: '1984 es una novela política de ficción distópica, escrita por George Orwell entre 1947 y 1948 y publicada el 8 de junio de 1949.'
                    },
                    {
                        id: 10,
                        isbn: '9788416968213',
                        titulo: 'El retrato de Dorian Gray',
                        foto: '/static/img/libros/doriangray.jpg',
                        alt: 'doriangray',
                        autores: [
                            { nombre: 'Oscar Wilde'}
                        ],
                        editorial: { nombre: 'Reino de Cordelia' },
                        edicion: '2017',
                        pag: '256',
                        desc: 'El joven Dorian desea permanecer por siempre joven y bello, y que, a cambio, su retrato sea el que envejezca. Seducido por un aristócrata cínico, Dorian disfruta del placer y los excesos, lleva a otras personas a la perdición y no duda en cometer un asesinato.'
                    },
                    {
                        id: 11,
                        isbn: '9788433998248',
                        titulo: 'Los peligros de fumar en la cama',
                        foto: '/static/img/libros/fumarcama.jpg',
                        alt: 'fumarcama',
                        autores: [
                            { nombre: 'Mariana Enriquez'}
                        ],
                        editorial: { nombre: 'Anagrama' },
                        edicion: '2017',
                        pag: '232',
                        desc: 'Doce cuentos en los que lo terroríﬁco se inﬁltra en lo cotidiano. Doce relatos perturbadores que llevan el género de terror a una nueva dimensión.'
                    },
                ]
            },
            mounted() {
                console.log(this.books);
            }
        });
    </script>
{% endblock %}
