{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/css/spring.css" type="text/css" media="screen" />
<html>
    <head>
        <title>Bookstore</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- JS -->
<script type="text/javascript" src="/static/js/jquery_1.3.2.js"></script>
<script type="text/javascript" src="/static/js/jqueryui.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript" src="/static/js/jquery.cycle.all.js"></script>
<script type="text/javascript" src="/static/js/custom.js"></script>
<!-- ENDS JS -->
<!-- superfish -->
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/superfish-custom.css" />
<script type="text/javascript" src="/static/js/superfish-1.4.8/js/hoverIntent.js"></script>
<script type="text/javascript" src="/static/js/superfish-1.4.8/js/superfish.js"></script>
<!-- ENDS superfish -->
<!-- CSS -->
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/css/spring.css" type="text/css" media="screen" />
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/ie-hacks.css" />
<script type="text/javascript" src="js/DD_belatedPNG.js"></script>
<script>/* EXAMPLE */ DD_belatedPNG.fix('*');</script>
<![endif]-->
<!-- ENDS CSS -->
<!-- Cufon -->
<script src="/static/js/cufon-yui.js" type="text/javascript"></script>
<script src="/static/js/bebas_400.font.js" type="text/javascript"></script>
<script type="text/javascript">Cufon.replace('.custom', { fontFamily: 'bebas', hover: true });</script>
<!-- /Cufon -->
    </head>
    <body>
        <header>
            <ul id="nav" class="sf-menu">
                <li class="custom"><a href="{% url 'contact' %}">CONTACTO</a></li>
                <li class="custom"><a href="{% url 'gallery' %}">GALERIA</a></li>
                <li class="custom">ABOUT
                    <ul>
                      <li><a href="{% url 'libros' %}">Libros</a></li>
                      <li><a href="{% url 'autor' %}">Autores</a></li>
                      <li><a href="{% url 'genero' %}">Genero</a></li>
                    </ul>
                  </li>
              </ul>
              <div id="header"> <a href="{% url 'index' %}"><img src="/static/img/logo.png" alt="" id="logo" /></a> <img src="/static/img/nav-arrow.png" alt="" id="arrow" class="arrow-home" /></div>
        <main>
            <aside>
                <ol>
                    <li><a href="#1">Los sonidos del firmamento 01</a></li>
                    <li><a href="#2">Lupus Integral</a></li>
                    <li><a href="#3">No sleep till Shengal</a></li>
                    <li><a href="#4">Canícula</a></li>
                    <li><a href="#5">Nimona</a></li>
                    <li><a href="#6">El cumpleaños de Babita</a></li>
                    <li><a href="#7">Do a powerbomb!</a></li>
                </ol>
                <form>
                    <h2 id="1">#1</h2>
                    <article>
                        <img src="imagenes/sonidoFirmamento.gif" alt="sonFir" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>LOS SONIDOS DEL FIRMAMENTO 01</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Escritor:</strong></td>
                                <td>Asuka Ishii</td>
                            </tr>
                            <tr>
                                <td><strong>Editorial:</strong></td>
                                <td>MILKY WAY EDICIONES</td>
                            </tr>
                            <tr>
                                <td><strong>Año de edición:</strong></td>
                                <td>2021</td>
                            </tr>
                            <tr>
                                <td><strong>Estado:</strong></td>
                                <td>Completo</td>
                            </tr>
                            <tr>
                                <td><strong>ISBN:</strong></td>
                                <td>978-84-18222-76-4</td>
                            </tr>
                            <tr>
                                <td><strong>Páginas:</strong></td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td><strong><a href="https://www.jokercomics.es/libro/los-sonidos-del-firmamento-01_97124">Comprar ahora</a></strong></td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>En el archipiélago de Ogasawara se alza Aoshima, una isla rebosante de luz, olas y viento. Un efímero destello que desaparece entre la rutina diaria, como una visión fuera de toda lógica, es la encargada de dar la bienvenida a su antiguo hogar a Tatsumi, el nuevo profesor de la escuela local.</p>
                    </fieldset>
                    <br>
                    <h2 id="2">#2</h2>
                    <article>
                        <img src="imagenes/lupusIntegral.gif" alt="lupInt" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>LUPUS INTEGRAL</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Escritor:</strong></td>
                                <td>Frederik Peeters</td>
                            </tr>
                            <tr>
                                <td><strong>Editorial:</strong></td>
                                <td>ASTIBERRI EDICIONES</td>
                            </tr>
                            <tr>
                                <td><strong>Año de edición:</strong></td>
                                <td>2013</td>
                            </tr>
                            <tr>
                                <td><strong>Estado:</strong></td>
                                <td>Libro único</td>
                            </tr>
                            <tr>
                                <td><strong>ISBN:</strong></td>
                                <td>978-84-15163-25-1</td>
                            </tr>
                            <tr>
                                <td><strong>Páginas:</strong></td>
                                <td>400</td>
                            </tr>
                            <tr>
                                <td><strong><a href="https://www.jokercomics.es/libro/lupus-integral_34836">Comprar ahora</a></strong></td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>Lupus empieza a la manera de un easy rider en el espacio, presentándonos a dos amigos, Lupus y Tony, que se dedican a viajar de planeta en planeta para disfrutar de los placeres del universo; sin embargo, pronto, con la entrada de un tercer personaje, Sanaa, la trama da un viraje de 180 grados para convertirse en una especie de aventura iniciática a la fuga. Inicialmente publicado en 4 tomos (2005-2007), se presenta ahora en un volumen integral de 400 páginas con una cubierta diseñada para la ocasión por su autor, Frederik Peeters.</p>
                    </fieldset>
                    <br>
                    <h2 id="3">#3</h2>
                    <article>
                        <img src="imagenes/shengal.gif" alt="shengal" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>NO SLEEP TILL SHENGAL</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Escritor:</strong></td>
                                <td>Zerocalcare</td>
                            </tr>
                            <tr>
                                <td><strong>Editorial:</strong></td>
                                <td>RESERVOIR BOOKS</td>
                            </tr>
                            <tr>
                                <td><strong>Año de edición:</strong></td>
                                <td>2023</td>
                            </tr>
                            <tr>
                                <td><strong>Estado:</strong></td>
                                <td>Libro único</td>
                            </tr>
                            <tr>
                                <td><strong>ISBN:</strong></td>
                                <td>978-84-19437-30-3</td>
                            </tr>
                            <tr>
                                <td><strong>Páginas:</strong></td>
                                <td>208</td>
                            </tr>
                            <tr>
                                <td><strong><a href="https://www.jokercomics.es/libro/no-sleep-till-shengal_111780">Comprar ahora</a></strong></td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>No Sleep Till Shengal nos cuenta el regreso de Zerocalcare a Oriente Medio. En primavera de 2021 viaja al norte de Irak, hasta el seno de la comunidad ezidí, un pueblo que sobrevivió al genocidio del ISIS en 2014, está bajo protección de las milicias kurdas y ve amenazada su autonomía por las tensiones internacionales. El propósito de Zero es documentar sus condiciones de vida y lucha. Esta es la crónica de un momento geopolítico preciso, en el que un puñado de personas se opone al poder abrumador de quienes llaman «terrorismo» a cualquier intento de resistencia, mientras el sueño del confederalismo democrático corre el riesgo de desaparecer para siempre ante la indiferencia de Occidente.</p>
                        </fieldset>
                    <br>
                    <h2 id="4">#4</h2>
                    <article>
                        <img src="imagenes/canicula.gif" alt="canicula" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>CANÍCULA</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Escritor:</strong></td>
                                <td>Baru</td>
                            </tr>
                            <tr>
                                <td><strong>Editorial:</strong></td>
                                <td>ASTIBERRIA EDICIONES</td>
                            </tr>
                            <tr>
                                <td><strong>Año de edición:</strong></td>
                                <td>2014</td>
                            </tr>
                            <tr>
                                <td><strong>Estado:</strong></td>
                                <td>Libro único</td>
                            </tr>
                            <tr>
                                <td><strong>ISBN:</strong></td>
                                <td>978-84-15685-67-8</td>
                            </tr>
                            <tr>
                                <td><strong>Páginas:</strong></td>
                                <td>112</td>
                            </tr>
                            <tr>
                                <td><strong><a href="https://www.jokercomics.es/libro/canicula_55455">Comprar ahora</a></strong></td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>En Canícula, adaptación de la novela homónima de Jean Vautrin, Jimmy Cobb, un estadounidense que ha cometido un atraco, intenta huir de la persecución de la gendarmería francesa. Acaba de enterrar su botín en las proximidades de una granja aislada en la que encuentra refugio in extremis. No se ha percatado de que un niño agazapado entre el trigo ha asistido a toda la escena. Y aún no sabe que la granja en la que se esconde es un modelo en miniatura del infierno.</p>
                    </fieldset>
                    <br>
                    <h2 id="5">#5</h2>
                    <article>
                        <img src="imagenes/nimona.gif" alt="nimona" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>NIMONA</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Escritor:</strong></td>
                                <td>Noelle Stevenson</td>
                            </tr>
                            <tr>
                                <td><strong>Editorial:</strong></td>
                                <td>ASTIBERRI EDICIONES</td>
                            </tr>
                            <tr>
                                <td><strong>Año de edición:</strong></td>
                                <td>2021</td>
                            </tr>
                            <tr>
                                <td><strong>Estado:</strong></td>
                                <td>Libro único</td>
                            </tr>
                            <tr>
                                <td><strong>ISBN:</strong></td>
                                <td>978-84-18215-50-6</td>
                            </tr>
                            <tr>
                                <td><strong>Páginas:</strong></td>
                                <td>272</td>
                            </tr>
                            <tr>
                                <td><strong><a href="https://www.jokercomics.es/libro/nimona_99927">Comprar ahora</a></strong></td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>Nimona, una joven revoltosa, aspirante a compinche de villano y metamorfa excepcional: puede transformarse en casi cualquier ser vivo en cuestión de segundos. Aunque al supervillano Ballister Negrocorazón no le seduce mucho la idea de tener a una cría cerca, acaba aceptando su valiosa ayuda. Nimona quiere ejecutar planes muy malvados cuanto antes, por el contrario, Negrocorazón prepara con paciencia y mesura su venganza contra su excompañero Ambrosius Lomodorado.</p>
                        <p>La lucha interna de la joven, los esfuerzos del supervillano para entenderla o las incógnitas del pasado de cada uno de ellos son algunos de los elementos principales de una trama que cuestiona la manera tradicional de entender conceptos tan básicos como la belleza, el poder o la integridad. El entorno de fantasía medieval no resta a la modernidad de un discurso en el que se verán reflejados tanto los adolescentes como los adultos de hoy en día.</p>
                    </fieldset>
                    <br>
                    <h2 id="6">#6</h2>
                    <article>
                        <img src="imagenes/babita.gif" alt="babita" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>EL CUMPLEAÑOS DE BABITA</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Escritor:</strong></td>
                                <td>Natalia Colombo</td>
                            </tr>
                            <tr>
                                <td><strong>Editorial:</strong></td>
                                <td>BANG EDICIONES, SL</td>
                            </tr>
                            <tr>
                                <td><strong>Año de edición:</strong></td>
                                <td>2016</td>
                            </tr>
                            <tr>
                                <td><strong>Estado:</strong></td>
                                <td>Libro único</td>
                            </tr>
                            <tr>
                                <td><strong>ISBN:</strong></td>
                                <td>978-84-16114-51-1</td>
                            </tr>
                            <tr>
                                <td><strong>Páginas:</strong></td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td><strong><a href="https://www.jokercomics.es/libro/el-cumpleanos-de-babita_65544">Comprar ahora</a></strong></td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>Hoy es el aniversario de Babita y decide invitar a todos sus amigos y vecinos a un gran banquete en su casa. ¿Todos? No del todo. Si deja sus invitaciones en los buzones de todos, pasa subrepticiamente delante de la casa del gorrión.</p>
                    </fieldset>
                    <br>
                    <h2 id="7">#7</h2>
                    <article>
                        <img src="imagenes/powerbomb.gif" alt="powerbomb" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>DO A POWERBOMB!</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Escritor:</strong></td>
                                <td>Daniel Warren Johnson, Mike Spicer</td>
                            </tr>
                            <tr>
                                <td><strong>Editorial:</strong></td>
                                <td>NORMA EDITORIAL (COMICS)</td>
                            </tr>
                            <tr>
                                <td><strong>Año de edición:</strong></td>
                                <td>2023</td>
                            </tr>
                            <tr>
                                <td><strong>Estado:</strong></td>
                                <td>Completo</td>
                            </tr>
                            <tr>
                                <td><strong>ISBN:</strong></td>
                                <td>9978-84-679-6310-6</td>
                            </tr>
                            <tr>
                                <td><strong>Páginas:</strong></td>
                                <td>196</td>
                            </tr>
                            <tr>
                                <td><strong><a href="https://www.jokercomics.es/libro/do-a-powerbomb_114118">Comprar ahora</a></strong></td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>Lona Steelrose quiere ser luchadora profesional. Pero vive bajo la sombra de su madre, la mejor luchadora que nunca hubo. Todo cambia cuando un nigromante obsesionado con este deporte le pide que se una al torneo de lucha libre más ambicioso de todos los tiempos, y también el más peligroso!</p>
                    </fieldset>
                </form>
            </aside>
        </main>
<!-- FOOTER -->
        <div id="footer">
    <div id="footer-wrapper">
      <ul id="follow">
        <li>
          <p>Follow us: </p>
        </li>
        <li><a href="#"><img src="/static/img/twitter.png" alt="" /></a></li>
        <li><a href="#"><img src="/static/img/facebook.png" alt="" /></a></li>
        <li><a href="#"><img src="/static/img/linkedln.png" alt="" /></a></li>
        <li><a href="#"><img src="/static/img/rss.png" alt="" /></a></li>
      </ul>
      <div class="footer-bottom">
        <p class="legal">&copy; Copyright 2012 <a href="#">Company Name</a> All Rights Reserved | Website Template By <a target="_blank" href="http://www.luiszuno.com">luiszuno</a></p>
      </div>
    </div>
        </div>
  <!-- ENDS FOOTER -->
  <!-- start cufon -->
        <script type="text/javascript">Cufon.now();</script>
  <!-- ENDS start cufon -->
    </body>
</html>