{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/css/spring.css" type="text/css" media="screen" />
<html>
    <head>
        <title>Bookstore</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- JS -->
<script type="text/javascript" src="/static/js/jquery_1.3.2.js"></script>
<script type="text/javascript" src="/static/js/jqueryui.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript" src="/static/js/jquery.cycle.all.js"></script>
<script type="text/javascript" src="/static/js/custom.js"></script>
<!-- ENDS JS -->
<!-- superfish -->
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/superfish-custom.css" />
<script type="text/javascript" src="/static/js/superfish-1.4.8/js/hoverIntent.js"></script>
<script type="text/javascript" src="/static/js/superfish-1.4.8/js/superfish.js"></script>
<!-- ENDS superfish -->
<!-- CSS -->
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/css/spring.css" type="text/css" media="screen" />
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/ie-hacks.css" />
<script type="text/javascript" src="js/DD_belatedPNG.js"></script>
<script>/* EXAMPLE */ DD_belatedPNG.fix('*');</script>
<![endif]-->
<!-- ENDS CSS -->
<!-- Cufon -->
<script src="/static/js/cufon-yui.js" type="text/javascript"></script>
<script src="/static/js/bebas_400.font.js" type="text/javascript"></script>
<script type="text/javascript">Cufon.replace('.custom', { fontFamily: 'bebas', hover: true });</script>
<!-- /Cufon -->
    </head>
    <body>
        <header>
            <ul id="nav" class="sf-menu">
                <li class="custom"><a href="{% url 'contact' %}">CONTACTO</a></li>
                <li class="custom"><a href="{% url 'gallery' %}">GALERIA</a></li>
                <li class="custom">ABOUT
                    <ul>
                      <li><a href="{% url 'libros' %}">Libros</a></li>
                      <li><a href="{% url 'autor' %}">Autores</a></li>
                      <li><a href="{% url 'genero' %}">Genero</a></li>
                    </ul>
                  </li>
              </ul>
              <div id="header"> <a href="{% url 'index' %}"><img src="/static/img/logo.png" alt="" id="logo" /></a> <img src="/static/img/nav-arrow.png" alt="" id="arrow" class="arrow-home" /></div>
        <main>
            <aside>
                <form>
                    <h2 id="9788445000656">El hobbit</h2>
                    <article>
                        <img src="imagenes/sonidoFirmamento.gif" alt="sonFir" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>El hobbit</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Escritor:</strong></td>
                                <td><a href="/autor.html/#1">J. R. R. Tolkien</a></td>
                            </tr>
                            <tr>
                                <td><strong>Editorial:</strong></td>
                                <td><a href="/genero.html/#1"></a>Allen & Unwin</td>
                            </tr>
                            <tr>
                                <td><strong>Año de edición:</strong></td>
                                <td>1982</td>
                            </tr>
                            <tr>
                                <td><strong>ISBN:</strong></td>
                                <td>9788445000656</td>
                            </tr>
                            <tr>
                                <td><strong>Páginas:</strong></td>
                                <td>301</td>
                            </tr>
                        </table>
                        <p><strong>Descripción:</strong></p>
                        <p>La trilogía de El hobbit, adaptación cinematográfica basada en la novela homónima, comprende tres películas épicas de fantasía, acción y aventuras: El hobbit: un viaje inesperado, El hobbit: la desolación de Smaug y El hobbit: la batalla de los Cinco Ejércitos.</p>
                    </fieldset>
                    <br>
                    <h2 id="9788416517862">La hija de la diosa de la Luna</h2>
                    <article>
                        <img src="imagenes/lupusIntegral.gif" alt="lupInt" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>Ls hija de la diosa de la Luna</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Escritor:</strong></td>
                                <td><a href="/autor.html/#2">Sue Lynn Tan</a></td>
                            </tr>
                            <tr>
                                <td><strong>Editorial:</strong></td>
                                <td><a href="/genero.html/#2">Umbriel</a></td>
                            </tr>
                            <tr>
                                <td><strong>Año de edición:</strong></td>
                                <td>2022</td>
                            </tr>
                                <td><strong>ISBN:</strong></td>
                                <td>9788416517862</td>
                            </tr>
                            <tr>
                                <td><strong>Páginas:</strong></td>
                                <td>512</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>Un apasionante debut inspirado en la leyenda de Chang'e, la diosa china de la luna, donde la cruzada de una joven por liberar a su madre la llevará a medir sus fuerzas con el inmortal más poderoso del reino</p>
                    </fieldset>
                    <br>
                    <h2 id="9788448006983">Buenos presagios</h2>
                    <article>
                        <img src="imagenes/shengal.gif" alt="shengal" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>Buenos presagios</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Escritores:</strong></td>
                                <td><a href="/autor.html/#3">Terry Pratchett</a>, <a href="autor.html/#4">Neil Gaiman</a></td>
                            </tr>
                            <tr>
                                <td><strong>Editorial:</strong></td>
                                <td><a href="/genero.html/#3">Timun Mas</a></td>
                            </tr>
                            <tr>
                                <td><strong>Año de edición:</strong></td>
                                <td>2012</td>
                            </tr>
                                <td><strong>ISBN:</strong></td>
                                <td>9788448006983</td>
                            </tr>
                            <tr>
                                <td><strong>Páginas:</strong></td>
                                <td>400</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>Buenos Presagios es una novela escrita por Terry Pratchett y Neil Gaiman. Buenos Presagios es una comedia de tono irónico sobre el tema de la encarnación del anticristo, el Apocalipsis inminente y la eterna discusión sobre el equilibrio entre el bien y el mal.</p>
                        </fieldset>
                    <br>
                    <h2 id="9788497596794">El color de la Magia</h2>
                    <article>
                        <img src="imagenes/canicula.gif" alt="canicula" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>El color de la Magia</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Escritor:</strong></td>
                                <td><a href="/autor.html/#3">Terry Pratchett</a></td>
                            </tr>
                            <tr>
                                <td><strong>Editorial:</strong></td>
                                <td><a href="/genero.html/#4">Debolsillo</a></td>
                            </tr>
                            <tr>
                                <td><strong>Año de edición:</strong></td>
                                <td>2003</td>
                            </tr>
                            <tr>
                                <td><strong>ISBN:</strong></td>
                                <td>9788497596794</td>
                            </tr>
                            <tr>
                                <td><strong>Páginas:</strong></td>
                                <td>288</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>El color de la magia, es la primera obra publicada de la saga del Mundodisco de Terry Pratchett. Esta novela, a diferencia de otras muchas de la serie, está dividida en "libros" que narran historias cortas consecutivas con los mismos protagonistas.</p>
                    </fieldset>
                    <br>
                    <h2 id="9788411001984">La guerra de los chips</h2>
                    <article>
                        <img src="imagenes/nimona.gif" alt="nimona" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>La guerra de los chips</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Escritor:</strong></td>
                                <td><a href="/autor.html/#5">Chris Miller</a></td>
                            </tr>
                            <tr>
                                <td><strong>Editorial:</strong></td>
                                <td><a href="/genero.html/#5">Peninsula</a>/td>
                            </tr>
                            <tr>
                                <td><strong>Año de edición:</strong></td>
                                <td>2023</td>
                            </tr>
                            <tr>
                                <td><strong>ISBN:</strong></td>
                                <td>9788411001984</td>
                            </tr>
                            <tr>
                                <td><strong>Páginas:</strong></td>
                                <td>544</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>El libro del año. Define el fin de la era de la globalización y explica el mayor conflicto geopolítico desde la guerra fría.</p>
                    </fieldset>
                    <br>
                    <h2 id="9788468312842">Erik Vogler: Los crímenes del Rey Blanco</h2>
                    <article>
                        <img src="imagenes/babita.gif" alt="babita" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>Erik Vogler: Los crímenes del Rey Blanco</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Escritor:</strong></td>
                                <td><a href="/autor.html/#6">Beatriz Oses</a></td>
                            </tr>
                            <tr>
                                <td><strong>Editorial:</strong></td>
                                <td><a href="/genero.html/#6">edebé</a></td>
                            </tr>
                            <tr>
                                <td><strong>Año de edición:</strong></td>
                                <td>2014</td>
                            </tr>
                            <tr>
                                <td><strong>ISBN:</strong></td>
                                <td>9788468312842</td>
                            </tr>
                            <tr>
                                <td><strong>Páginas:</strong></td>
                                <td>144</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>Erik es una adolescente maniático de la limpieza, el orden, el ajedrez, un sabiondo, en fin, 'un pesadito'. Su papá le ha prometido unas vacaciones soñadas, pero por un error de cálculo tendrá que conformarse con ir a casa de su abuela con quien no se lleva nada bien.</p>
                    </fieldset>
                    <br>
                    <h2 id="9788416517275">Los siete maridos de Evelyn Hugo</h2>
                    <article>
                        <img src="imagenes/powerbomb.gif" alt="powerbomb" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>Los siete maridos de Evelyn Hugo</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Escritor:</strong></td>
                                <td><a href="/autor.html/#7">Taylor Jenkins Reid</a></td>
                            </tr>
                            <tr>
                                <td><strong>Editorial:</strong></td>
                                <td><a href="/genero.html/#2">Umbriel</a></td>
                            </tr>
                            <tr>
                                <td><strong>Año de edición:</strong></td>
                                <td>2020</td>
                            </tr>
                            <tr>
                                <td><strong>ISBN:</strong></td>
                                <td>9788416517275</td>
                            </tr>
                            <tr>
                                <td><strong>Páginas:</strong></td>
                                <td>384</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>Evelyn Hugo, el ícono de Hollywood que se ha recluido en su edad madura, decide al fin contar la verdad sobre su vida llena de glamour y de escándalos.</p>
                    </fieldset>
                    <h2 id="9788499890951">Rebelión en la granja</h2>
                    <article>
                        <img src="imagenes/powerbomb.gif" alt="powerbomb" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>Rebelión en la granja</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Escritor:</strong></td>
                                <td><a href="/autor.html/#8">George Orwell</a></td>
                            </tr>
                            <tr>
                                <td><strong>Editorial:</strong></td>
                                <td><a href="/genero.html/#4">Debolsillo</a></td>
                            </tr>
                            <tr>
                                <td><strong>Año de edición:</strong></td>
                                <td>2013</td>
                            </tr>
                            <tr>
                                <td><strong>ISBN:</strong></td>
                                <td>9788499890951</td>
                            </tr>
                            <tr>
                                <td><strong>Páginas:</strong></td>
                                <td>144</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>Rebelión en la granja es una novela corta satírica del escritor británico George Orwell. Publicada en 1945, la obra es una fábula mordaz sobre cómo el régimen soviético de Iósif Stalin corrompe el socialismo llevándolo hacia un tipo de autoritarismo.</p>
                    </fieldset>
                    <h2 id="9788499890944">1984</h2>
                    <article>
                        <img src="imagenes/powerbomb.gif" alt="powerbomb" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>1984</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Escritor:</strong></td>
                                <td><a href="/autor.html/#8">George Orwell</a></td>
                            </tr>
                            <tr>
                                <td><strong>Editorial:</strong></td>
                                <td><a href="/genero.html/#4">Debolsillo</a></td>
                            </tr>
                            <tr>
                                <td><strong>Año de edición:</strong></td>
                                <td>2013</td>
                            </tr>
                            <tr>
                                <td><strong>ISBN:</strong></td>
                                <td>9788499890944</td>
                            </tr>
                            <tr>
                                <td><strong>Páginas:</strong></td>
                                <td>352</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>1984 es una novela política de ficción distópica, escrita por George Orwell entre 1947 y 1948 y publicada el 8 de junio de 1949.</p>
                    </fieldset>
                    <h2 id="9788416968213">El retrato de Dorian Gray</h2>
                    <article>
                        <img src="imagenes/powerbomb.gif" alt="powerbomb" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>El retrato de Dorian Gray</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Escritor:</strong></td>
                                <td><a href="/autor.html/#9">Oscar Wilde</a></td>
                            </tr>
                            <tr>
                                <td><strong>Editorial:</strong></td>
                                <td><a href="/genero.html/#7">Reino de Cordelia</a></td>
                            </tr>
                            <tr>
                                <td><strong>Año de edición:</strong></td>
                                <td>2017</td>
                            </tr>
                            <tr>
                                <td><strong>ISBN:</strong></td>
                                <td>9788416968213</td>
                            </tr>
                            <tr>
                                <td><strong>Páginas:</strong></td>
                                <td>256</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>El joven Dorian desea permanecer por siempre joven y bello, y que, a cambio, su retrato sea el que envejezca. Seducido por un aristócrata cínico, Dorian disfruta del placer y los excesos, lleva a otras personas a la perdición y no duda en cometer un asesinato.</p>
                    </fieldset>
                    <h2 id="9788433998248">Los peligros de fumar en la cama</h2>
                    <article>
                        <img src="imagenes/powerbomb.gif" alt="powerbomb" width="200" height="300">
                    </article>
                    <fieldset>
                        <legend><strong>Los peligros de fumar en la cama</strong></legend>
                        <table>
                            <tr>
                                <td><strong>Escritor:</strong></td>
                                <td><a href="/autor.html/#10">Mariana Enriquez</a></td>
                            </tr>
                            <tr>
                                <td><strong>Editorial:</strong></td>
                                <td><a href="/genero.html/#8">Anagrama</a></td>
                            </tr>
                            <tr>
                                <td><strong>Año de edición:</strong></td>
                                <td>2017</td>
                            </tr>
                            <tr>
                                <td><strong>ISBN:</strong></td>
                                <td>9788433998248</td>
                            </tr>
                            <tr>
                                <td><strong>Páginas:</strong></td>
                                <td>232</td>
                            </tr>
                        </table>
                        <p><strong>Descripción</strong></p>
                        <p>Doce cuentos en los que lo terroríﬁco se inﬁltra en lo cotidiano. Doce relatos perturbadores que llevan el género de terror a una nueva dimensión.</p>
                    </fieldset>
                </form>
            </aside>
        </main>
<!-- FOOTER -->
        <div id="footer">
    <div id="footer-wrapper">
      <ul id="follow">
        <li>
          <p>Follow us: </p>
        </li>
        <li><a href="#"><img src="/static/img/twitter.png" alt="" /></a></li>
        <li><a href="#"><img src="/static/img/facebook.png" alt="" /></a></li>
        <li><a href="#"><img src="/static/img/linkedln.png" alt="" /></a></li>
        <li><a href="#"><img src="/static/img/rss.png" alt="" /></a></li>
      </ul>
      <div class="footer-bottom">
        <p class="legal">&copy; Copyright 2012 <a href="#">Company Name</a> All Rights Reserved | Website Template By <a target="_blank" href="http://www.luiszuno.com">luiszuno</a></p>
      </div>
    </div>
        </div>
  <!-- ENDS FOOTER -->
  <!-- start cufon -->
        <script type="text/javascript">Cufon.now();</script>
  <!-- ENDS start cufon -->
    </body>
</html>